<!DOCTYPE html>
<html lang="en">
   <head>
      <title>GOtcha, no fruits herere!!!!! mwuahaha</title>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
      <meta charset="UTF-8">
   </head>

   <body>
       <h2>GOtcha, no fruits herere!!!!! mwuahaha</h2>
       <table>
           <tr>
               <td>
                   <img src="static\bluey.gif" alt="a fruit would likely go here">
               </td>
           </tr>
           <tr>
               <td>
                   <img src="static\red.gif" alt="a fruit would likely go here">
               </td>
           </tr>
           <tr>
               <td>
                   <img src="static\sushi.png" alt="a fruit would likely go here">
               </td>
           </tr>
       </table>
       <form action='/'><input type="submit" value='Go Back'></form>
       
   </body
   
   
   


</html>