<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Store</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
      <meta charset="UTF-8">
   </head>

   <body>
    <div class="container">
        <div class="header">
            <h3>Dojo Store</h3>
            <button>←</button>
            <button>→</button>
            <button>x</button>
            <button>ƒ</button>
            <input type="text" placeholder="httlp://localhost:5000/play">
            <input type="text" placeholder="♀">
        </div><!--header-->
        <div class="chassis">
            <h2>Dojo Fruit!!!</h2>
            <form  action='/fruits'><input type="submit" value='look some fruits'></form>
            <h5><u>What would you like to buy?</u></h5>
            <form action="/checkout" method="post">
                <table>
                    <tr> 
                        <th>Fruit Name</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td>Strawberry</td>
                        <td><input type="number" name="Strawberry" value="0"></td>
                    </tr>
                    <tr>
                        <td>Raspberry</td>
                        <td><input type="number" name="Raspberry" value="0"></td>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td><input type="number" name="Apple" value="0"></td>
                    </tr>                    
                </table>
                <h5><u>Your Information</u></h5>
                Name:<input type="text" name="name" class="bottomInput">
                Your Student ID:<input type="text" name="student" class="bottomInput">
            
                <input type="submit" value="checkout" id="submit">
            </form>
            

        </div><!--chassis-->
        <h4>//</h4>
   
    </div><!--container-->

   </body>
</html>